.bg_section {
  background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
    url("~/public/images/bg-images/bg-about-mobile.webp");
  background-repeat: no-repeat;
  background-position-x: 75%;
  background-size: cover;
  padding-top: 55px;
  padding-bottom: 54px;

  @media screen and (min-width: 480px) {
    background-position: center;
  }
}
