.bg_section {
  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url("~/public/images/bg-images/bg-gallery.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 56px;
  padding-bottom: 56px;
}
