.bg_section {
  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url("~/public/images/bg-images/bg-gallery@2x.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 56px;
  padding-bottom: 56px;
}

@media screen and (min-width: 768px) {
  .bg_section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .bg_section {
    padding-top: 104px;
    padding-bottom: 104px;
  }
}
